global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'chatbot-api'
    static_configs:
      - targets: ['host.docker.internal:8000']
    metrics_path: '/metrics'
